#app{
	width: 100vw;
	height: 100vh;
}
#clip-path{
	width: 100px;
	height: 100px;
	display: inline-block;
	position: relative;
}
#clip-path img{
	width: 100px;
	height: 100px;
}
#clip-path::before{
	content: '';
	position: absolute;
	left: 0;right: 0;top: 0;bottom: 0;
	border: 1px solid orangered;
	clip-path: inset(0px 0px 98px 0px); /*与padding和margin相似*/
	/* animation: beforeAround 2s infinite linear; */
}
@keyframes beforeAround{
	0%{
		clip-path: inset(0 0 98px 0);
	}
	25%{
		
		clip-path: inset(0 0 0 98px);
	}
	50%{
		clip-path: inset(98px 0 0 0);
	}
	100%{
		clip-path: inset(0 98px 0 0);
	}
}
.flex_c_c{
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes huerotate{
	0%{
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}